@model dailybook.ViewModels.CheckoutVM
@* @model IEnumerable<dailybook.ViewModels.CartItem> *@

@{
    ViewData["Title"] = "Checkout";
    List<dailybook.ViewModels.CartItem> Carts = ViewBag.GioHang;
}


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form asp-action="Checkout">
            <div class="row g-5">
                @* <form asp-action="Checkout" asp-controller="Checkout" method="post"> *@
                <form>
                    <div class="col-md-12 col-lg-6 col-xl-7">
@*                         <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" name="UseInfo" id="UseInfo" value="0">
                            <label class="form-check-label" for="UseInfo">Use Account Information?</label>
                        </div> *@
                        @*  <div class="row">
                        <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                        <label class="form-label my-3">First Name<sup>*</sup></label>
                        <input type="text" class="form-control">
                        </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100">
                        <label class="form-label my-3">Last Name<sup>*</sup></label>
                        <input type="text" class="form-control">
                        </div>
                        </div>
                        </div> *@
                        <div class="form-item shipping-info">
                            <label asp-for="@Model.Fullname" class="form-label my-3">Full name<sup>*</sup></label>
                            <input asp-for="@Model.Fullname" type="text" name="Fullname" class="form-control">
                            <span asp-validation-for="@Model.Fullname" class="text-danger"></span>
                        </div>
                        <div class="form-item shipping-info">
                            <label asp-for="@Model.Address" class="form-label my-3">Address <sup>*</sup></label>
                            <input asp-for="@Model.Address" type="text" name="Address" class="form-control" placeholder="House Number Street Name">
                            <span asp-validation-for="@Model.Address" class="text-danger"></span>
                        </div>
                        <div class="form-item shipping-info">
                            <label asp-for="@Model.Phone" class="form-label my-3">Phone number<sup>*</sup></label>
                            <input asp-for="@Model.Phone"  type="tel" name="Phone" class="form-control">
                            <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-item shipping-info">
                            <label asp-for="@Model.Email" class="form-label my-3">Email<sup>*</sup></label>
                            <input asp-for="@Model.Email" type="email" name="Email" class="form-control">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        @* <div class="form-check my-3">
                        <input type="checkbox" class="form-check-input" id="Account-1" name="Accounts" value="Accounts">
                        <label class="form-check-label" for="Account-1">Create an account?</label>
                        </div>
                        <hr> *@
                        <div class="form-item mt-3">
                            <textarea asp-for="@Model.Note" name="Note" class="form-control" spellcheck="false" cols="30" rows="11" placeholder="Order Notes (Optional)"></textarea>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Carts)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="~/Image/Products/@item.Image" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="@item.ProductName">
                                            </div>
                                        </th>
                                        <td class="py-5">@item.ProductName</td>
                                        <td class="py-5">$@item.Price</td>
                                        <td class="py-5">@item.Quantity</td>
                                        <td class="py-5">$@item.Total</td>
                                    </tr>
                                }
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Subtotal</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$@Carts.Sum(p => p.Total).ToString("#,##0.00")</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-4">Shipping</p>
                                    </td>
                                    <td colspan="3" class="py-5">
@*                                         <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-1">Free Shipping</label>
                                        </div> *@
                                        <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-2">Free Shipping</label>
                                        </div>
@*                                         <div class="form-check text-start">
                                            <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
                                            <label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
                                        </div> *@
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$@Carts.Sum(p => p.Total).ToString("#,##0.00")</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Transfer-1" name="Transfer" value="Transfer">
                                <label class="form-check-label" for="Transfer-1">Direct Bank Transfer</label>
                            </div>
                            <p class="text-start text-dark">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                        </div>
                    </div>
                    @* <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Payments-1" name="Payments" value="Payments">
                                <label class="form-check-label" for="Payments-1">Check Payments</label>
                            </div>
                        </div>
                    </div> *@
                    <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Delivery-1" name="Delivery" value="Delivery">
                                <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                   @*  <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                        <div class="col-12">
                            <div class="form-check text-start my-3">
                                <input type="checkbox" class="form-check-input bg-primary border-0" id="Paypal-1" name="Paypal" value="Paypal">
                                <label class="form-check-label" for="Paypal-1">Paypal</label>
                            </div>
                        </div>
                    </div> *@
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#UseInfo").change(function () {
                if ($(this).prop("checked")) {
                    $(this).val(true);
                    $(".shipping-info").addClass("d-none");
                } else {
                    $(this).val(false);
                    $(".shipping-info").removeClass("d-none");
                }
            });
        });
    </script>
}


